* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif, Arial;
    color: black;
}

body {
    background-color: #DADADA;
}

nav {
    font-size: 25px;
}

.nav-list {
    background-color: #343434;
    margin:0;
    padding: 10px 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
}

.nav-item {
    list-style: none;
    margin-right: 30px;
}

.nav-item a {
    text-decoration: none;
    color: white;
}

.nav-item a:hover {
    color:#13E1BB;
    transition:all 200ms ease-in;
}

.nav-item:first-child {
    margin-right: auto;
    margin-left: 30px;
}

.get-in-touch {
    font-family: 'Open Sans', sans-serif, Arial;
    font-size: 20px;
    background-color: #13E1BB;
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    transition:all 200ms ease-in;
}

.get-in-touch:hover {
    background-color: #1AD7EC;
}




/* nav,
nav * {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

#atif-uddin {
    width: 40%;
    margin: 10px;
    display: flex;
    justify-content: left;
}

nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 50px;
    font-size: 20px;
    background-color: #6A6A6A;
    color: white;
}

.nav-links {
    width: 60%;
    margin: 10px;
    display: flex;
    justify-content: space-around;
}
a {
    min-width: 100px; 
}

a:hover, a:visited, a:link, a:active {
    text-decoration: none;
}

a:hover {
    color: #13E1BB;
} */



/* .intro {
    background-color: #343434;
    text-align: center;
    height: auto;
    width: 100%;
    padding: 20px;
}

#intro-title {
    display: flex;
    justify-content: right;
}

#intro-text {
    display: flex;
    justify-content: left;
}
    */