* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif, Arial;
  color: #FFFF;
}

body {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: #DADADA;
  margin: 0;
  padding: 0;
}

nav {
  width: 100%;
  height: 100%;
  font-size: 25px;
}

.nav-list {
  background-color: #343434;
  margin: 0;
  padding: 10px 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
}

.nav-item {
  list-style: none;
  margin-right: 30px;
}

.nav-item a {
  text-decoration: none;
  color: #FFFF;
}

.nav-item a:hover {
  color: #09d3ae;
  transition: all 200ms ease-in;
}

.nav-item:first-child {
  margin-right: auto;
  margin-left: 30px;
}

.get-in-touch {
  font-family: "Open Sans", sans-serif, Arial;
  font-size: 20px;
  background-color: #28bfcf;
  border: none;
  outline: none;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: all 200ms ease-in;
}

.get-in-touch:hover {
  background-color: #09d3ae;
}

.intro {
  background-color: #6A6A6A;
  width: 100%;
  height: 100%;
  padding: 50px 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-content: space-around;
}
.intro__left {
  width: 50%;
  padding: 40px;
  margin: auto;
  text-align: center;
  font-size: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 50px;
}
.intro__left p {
  font-size: 25px;
}
.intro__right {
  padding: 50px;
  margin: auto;
  width: 50%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 50px;
}
.intro__image {
  height: auto;
  width: 350px;
  border-radius: 0.5rem;
}
.intro .projects__button {
  font-family: "Open Sans", sans-serif, Arial;
  font-size: 25px;
  background-color: #28bfcf;
  border: none;
  outline: none;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: all 200ms ease-in;
}
.intro .projects__button:hover {
  background-color: #09d3ae;
}

.skills {
  color: #0000;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1.5fr 1fr 1fr;
  gap: 10px 10px;
  grid-template-areas: "skills__header skills__header skills__header skills__header skills__header" "skills__text skills__text skills__text skills__text skills__text" "skills__img skills__img skills__img skills__img skills__img";
}
.skills__header {
  grid-area: skills__header;
}
.skills__text {
  grid-area: skills__text;
}
.skills__img {
  grid-area: skills__img;
}
.skills__header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 80px;
}
.skills__header h1 {
  color: black;
  font-size: 40px;
  text-align: center;
  margin: 0;
}
.skills__text {
  display: flex;
  justify-content: center;
  align-items: center;
}
.skills__text p {
  color: black;
  font-size: 20px;
  text-align: center;
  margin: 0;
  padding: 50px;
}
.skills__img {
  padding-bottom: 80px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.projects__header {
  display: flex;
  justify-content: center;
  align-items: center;
}
.projects__header h1 {
  color: black;
  font-size: 40px;
  text-align: center;
  margin: 0;
}
.projects__container {
  border: 2px solid red;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  align-content: space-around;
  flex-wrap: wrap;
  padding: 30px;
  gap: 30px;
}
.projects__card {
  border: 2px solid green;
  border-radius: 40px;
  background-color: #343434;
  height: auto;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.projects__card h2 {
  width: 300px;
  height: auto;
  padding: 5% 10%;
  padding-bottom: 0%;
}
.projects__card p {
  height: auto;
  padding: 5% 10%;
  padding-bottom: 10%;
}
.projects__img {
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  border-bottom: 10px solid #FFFF;
  aspect-ratio: 1;
  width: 100%;
}
.projects__button {
  width: 100%;
  padding-bottom: 5%;
  border: 2px solid blue;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.projects__button__code {
  background-color: #28bfcf;
  border: none;
  outline: none;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: all 200ms ease-in;
}
.projects__button__code:hover {
  background-color: #09d3ae;
}
.projects__button__preview {
  background-color: #4D8BFF;
  border: none;
  outline: none;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: all 200ms ease-in;
}
.projects__button__preview:hover {
  background-color: #09d3ae;
}